[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/IndianBoy42/LunarVim.git
[submodule ".yadm-project"]
	path = .yadm-project
	url = https://github.com/TheLocehiliosan/yadm.git
