[credential]
	helper = /usr/share/doc/git/contrib/credential/libsecret/git-credential-libsecret
	; helper = /usr/local/bin/git-credential-manager-core
	credentialStore = secretservice
[user]
	name = Anshuman
	email = amedhi@connect.ust.hk

[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    features = side-by-side line-numbers decorations
    whitespace-error-style = 22 reverse

[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none
[init]
	defaultBranch = main
[pull]
	ff = only

[alias]
	lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
	lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
	lg = !"git lg1"
	diff1 = diff HEAD~1 HEAD
	dp = diff @{1} HEAD
	s = status
	c = commit
	cv = commit -v
	f = fetch --all
	a = add
	u = up
	d = down
	all = "!f() { fish -c "git-all $1"; }; f" # doesnt work lol
	sw = switch
	addi = add --interactive
	new-branch = checkout -b
	save = commit -av
	save-all = !git add -A && git commit
	wip = commit -am "WIP"
	undo = reset HEAD~1 --mixed
	amend = commit --amend
	sync = !git fetch && git pull --ff-only && git push -u origin HEAD
	down = !git pull --rebase --prune $@ && git submodule update --init --recursive
	up = !git push -u origin HEAD
	ec = config --global -e
	unstage = restore --staged
	branches = "!git for-each-ref --sort='-authordate' --format='%(authordate)%09%(objectname:short)%09%(refname)' refs/heads | sed -e 's-refs/heads/--'"
	list-aliases = "!git config -l | grep alias | cut -c 7-"
	ra = remote add
	rao = remote add origin
	clean-merged = !git branch --merged | grep -v \"\\*\" | xargs -n 1 git branch -d
	adds = "!f() { git diff $1; git add $1; }; f"
	sm = submodule
	info = !"onefetch"
	root = rev-parse --show-toplevel
    ui = !gitui
    pre-pull = diff @ @{upstream}
    any-changes = diff --no-ext-diff --quiet --exit-code
	untracked = ls-files . --exclude-standard --others
    tracked = ls-tree -r HEAD --name-only 
    staged = diff --staged
	partial-clone = clone --filter=blob:none
	shallow-clone = clone --filter=tree:0
	unshallow = fetch --unshallow
	fork-point = git merge-base --fork-point origin/master
    difftastic = !"GIT_EXTERNAL_DIFF=difftastic git"
	
[credential "https://dev.azure.com"]
	useHttpPath = true
[diff]
	tool = smerge
	submodule = log
[merge]
	tool = smerge
[commit]
	verbose = true

[credential "https://github.com"]
	helper = 
	helper = !/home/amedhi/.local/packages/gh/bin/gh auth git-credential
[github]
	user = IndianBoy42
[credential "https://gist.github.com"]
	helper = 
	helper = !/home/amedhi/.local/packages/gh/bin/gh auth git-credential
