[credential]
	helper = /usr/share/doc/git/contrib/credential/libsecret/git-credential-libsecret
	helper = 
	helper = /usr/bin/git-credential-manager-core
	credentialStore = secretservice
[user]
	name = Anshuman
	email = amedhi@connect.ust.hk

[core]
	    pager = delta

[interactive]
	    diffFilter = delta --color-only

[delta]
	    features = side-by-side line-numbers decorations
	        whitespace-error-style = 22 reverse

[delta "decorations"]
	    commit-decoration-style = bold yellow box ul
	        file-style = bold yellow ul
		    file-decoration-style = none
[init]
	defaultBranch = main
[pull]
	ff = only

[alias]
	lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
	lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
	lg = !"git lg1"
	s = status
	#switch = checkout
	sw = switch
	addi = add --interactive
	new-branch = checkout -b
	save = commit -a
	save-all = !git add -A && git commit
	wip = commit -am "WIP"
	undo = reset HEAD~1 --mixed
	amend = commit -a --amend
	sync = !git fetch && git pull --ff-only && git push -u origin HEAD
	down = !git pull --rebase --prune $@ && git submodule update --init --recursive
	up = !git push -u origin HEAD
	ec = config --global -e
	unstage = restore . --staged
	branches = "!git for-each-ref --sort='-authordate' --format='%(authordate)%09%(objectname:short)%09%(refname)' refs/heads | sed -e 's-refs/heads/--'"
	la = "!git config -l | grep alias | cut -c 7-"
	rao = remote add origin
	clean-merged = !git branch --merged | grep -v \"\\*\" | xargs -n 1 git branch -d


[credential "https://dev.azure.com"]
	useHttpPath = true
