[Desktop Entry]
Type=Application
Exec=xset r rate 220 25
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Set keyboard repeat rate
Name=Set keyboard repeat rate
Comment[en_US]=
Comment=
